*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8% 0 8%;
}

.logo{
    color: rgb(159, 159, 159);
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    padding: 10px 10px;
}

nav ul li a {
    color: rgb(159, 159, 159);
    text-decoration: none;
    transition:all 0.3s;
}

nav ul li a:hover{
    color: rgb(43, 214, 226);
}

.content {
    padding-top: 100px;
}

.content .body {
    display: flex;
    justify-content:space-evenly;
    padding-right: 50px;
    padding-left: 20px;
    text-align: center;

}

h1{
color: rgb(47, 235, 249);
margin: 10px 0 10px;
font-size: 30px;

}

h4{
    color: rgb(121, 121, 121);
    font-size: 15px;
}